<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" mode="over">
    <mat-toolbar>
      <span class="menu-header">Menu</span>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/">Home</a>
      <a (click)="dialogService.openLoginDialog()" *ngIf=!authService.currentUser mat-list-item>Login</a>
      <a (click)="dialogService.openRegisterDialog()" *ngIf=!authService.currentUser mat-list-item>Register</a>
      <a (click)="authService.logout();
          dialogService.showMessageBox('You are logged out');" *ngIf=authService.currentUser mat-list-item>Logout</a>
      <a *ngIf=authService.currentUser mat-list-item routerLink="/user">My page</a>
      <a *ngIf="authService.currentUser?(authService.currentUser.role==='admin'):false" mat-list-item routerLink="/admin">
        Admin page
      </a>
      <mat-slide-toggle
        (toggleChange)="toggleTheme()"
        [(ngModel)]="darkTheme"
        class="theme-toggle"
        mat-list-item>Dark theme
      </mat-slide-toggle>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button (click)="drawerToggleResultPromise = drawer.toggle()" [@.disabled]="false"
              class="menu-button"
              mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <span>FanfiсSpace</span>
      <span class="spacer"></span>
      <span> {{authService.currentUser ? 'Hi ' + authService.currentUser.login : ''}}</span>

      <!--      <span>-->
      <!--        <mat-form-field appearance="standard" class="search-field" color="warn">-->
      <!--        <mat-label>Search</mat-label>-->
      <!--        <input #searchField matInput placeholder="Search for recipes..."-->
      <!--               type="text">-->
      <!--      </mat-form-field>-->
      <!--      <button mat-icon-button routerLink="/search/pattern/{{searchField.value}}"><mat-icon>search</mat-icon></button>-->
      <!--      </span>-->
    </mat-toolbar>
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
