.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer {
  flex: 1 1 auto;
}

.theme-toggle {
  margin-left: 1rem;
  margin-top: 1rem;
}

.menu-header{
  margin-left: 1rem;
}

.menu-button{
  transition: none;
}
