<form #registerForm="ngForm">
  <div mat-dialog-content>
    <div class="example-container">

      <mat-form-field>
        <label>
          <input [(ngModel)]="username" matInput
                 name="username"
                 placeholder="Username" required type="text">
        </label>
      </mat-form-field>

      <mat-form-field>
        <label>
          <input [(ngModel)]="email" matInput
                 name="email"
                 placeholder="Email" required type="text">
        </label>
      </mat-form-field>

      <mat-form-field>
        <label>
          <input [(ngModel)]="password" [type]="hide ? 'password' : 'text'"
                 matInput
                 minlength="5" name="password" placeholder="Password" required>
        </label>
        <button mat-icon-button matSuffix>
          <mat-icon (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field>
        <label>
          <input #confirmPasswordField="ngModel" [(ngModel)]="confirmPassword" [type]="hide ? 'password' : 'text'"
                 matInput
                 minLength="5" name="confirmPassword" placeholder="Confirm password" required>
        </label>
        <button mat-icon-button matSuffix>
          <mat-icon (click)="hide = !hide" matSuffix>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <mat-error *ngIf="confirmPasswordField.touched && confirmPassword != password">
        Password don't match
      </mat-error>

      <div *ngIf="errors">
        <mat-error>{{message}}</mat-error>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button (click)="onCancelClick()" mat-button>Cancel</button>
    <button (click)="registerClick()" [disabled]="!registerForm.valid" mat-button>
      Register
    </button>
  </div>
</form>
