<div>

  <mat-toolbar class="navbar">
    <mat-toolbar-row>
      <span><b>Super Fanfic</b></span>
      <span class="spacer"></span>
      <span>
        <button (click)="openModalLoginForm()" color="primary" mat-raised-button>Login</button>
      </span>
      <span>
        <button color="primary" mat-raised-button>Register</button>
      </span>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <span class="spacer"></span>
      <span>
        <mat-slide-toggle
          (toggleChange)="changeTheme()"
          class="example-margin"
          color="primary">
            Dark mode
          </mat-slide-toggle>
      </span>
    </mat-toolbar-row>

  </mat-toolbar>
  <div style="height:200px"></div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

</div>
<!--<input-dialog></input-dialog>-->
